* {
    margin: 0%;
    padding: 0%;


}

html,
body {
    height: 100%;
    width: 100%;



}

.main {
    height: 600px;
    width: 100%;
    background-color: black;
    display: flex;
    position: absolute;


}

.main1 {
    height: 500px;
    width: 40%;
    background-color: black;
    margin-top: 80px;


}

.about {
    height: 250px;
    width: 100%;
    background-color: black;

}

.img {
    filter: invert(1);
    margin-left: 80px;
    padding: 20px;
}

.about2 {
    height: 200px;
    width: 100%;

}

.icons {
    height: 200px;
    width: 100%;
    margin-left: 100px;

    color: white;
    display: flex;

    gap: 15px;
    background-color: black;

}

.logos {
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid white;
}



.store {
    margin-left: 100px;
    margin-top: -125px;
    gap: 15px;
    display: flex;
}

.about p {
    padding: 0px 80px 0px 100px;
    color: white;
    /* font-weight:lighter; */

}

.about h1 {
    padding: 0px 0px 20px 100px;
    color: white;
}






.content {
    height: 500px;
    width: 60%;
    background-color: black;
    margin-top: 80px;
    display: flex;


}

.box1 {
    height: 500px;
    width: 250px;
    background-color: black;
    margin-left: 20px;
    list-style-type: none;

}

.box1 ul {
    list-style-type: none;

    margin-top: 10px;
}

.box1 ul li {
    padding: 5px;
}

.ho a {

    text-decoration: none;
    color: white;
}

.ho li:hover {

    text-decoration: underline;
    color: white;
}

.box1 p,
h3 {
    color: white;
}

hr {
    border-top: 5px solid green;
    width: 350px;
    margin-left: 25px;
}