body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1; /* Take up all remaining space */
  padding: 20px;
  box-sizing: border-box;
  overflow: auto; /* Ensure no content overflows */
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  margin-top: auto;
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
}
/* Header styles for Navbar */
.App-header {
  background-color: #282c34;
  min-height: 100px; /* Adjust as needed */
  display: flex;
  flex-direction: row; /* Keep the header items in a row */
  align-items: center;
  justify-content: space-between; /* Adjust to suit your Navbar */
  padding: 10px;
  color: white;
}

/* Footer styles */
.App-footer {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
}
